body {
  /* background: #facfce; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar */
/* .navbar-nav li a {
  font-size: 17px;
}

.navbar-brand {
  letter-spacing: 3px;
}

.phones {
  object-fit: contain;
  height: 620px;
}

.jpg {
  object-fit: cover;
} */

/* Card */
/* .card {
  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.col-md-6 {
  display: grid;
}

.d-flex img {
  object-fit: cover;
  border-radius: 20%;
} */
